body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7em;
}
html,body{
  font-family: "M PLUS Rounded 1c";
}
li{
  list-style-type: none;
}
a:visited {
      color: #333;
      text-decoration: none;
}
a:link	{
	text-decoration: none;
}
.wrapper{
  width: 100%;
}
.logo{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
padding: 10px;
}
.logo img{
  width: 200px;
}
.menu-pc nav ul{
  margin-bottom: 20px;
  display: flex;
  justify-content:space-around;
}
.menu-pc nav ul li{
text-align: center;
font-size: 1em;
}
.menu-pc nav ul li:hover{
color: #555;
}
.slide{
  width: 50vw;
  height: 60vh;
  overflow: hidden;
  background: url(../img/test-kv-pc.jpg)no-repeat center/cover;
      background-size: contain;
}

.kv{
  display: flex;
  height: 60vh;
  align-items: center;
      background-color: blanchedalmond;
}
.about{
  width: 50vw;
padding: 20px;
}
.about h1{
  text-align:center;
  margin: 10px auto;
}
.about p{
  max-width: 540px;
      margin: 0 auto;
}
.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
      background-color: antiquewhite;
}
.section-title{
  width: 100%;
  margin: 40px auto;
  height: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background: url(../img/menu.png) center center / cover no-repeat fixed;
}
.section-title02{
  width: 100%;
  margin: 40px auto;
  height: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background:  url(../img/info.jpg) center center / cover no-repeat fixed;
}
.section-title03{
  width: 100%;
  margin: 40px auto;
  height: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  background:  url(../img/access.jpg) center center / cover no-repeat fixed;
}
.map {
  width: 90%;
  margin: 20px auto;
      padding-bottom: 20px;
}
.section-title h1{
  color: #FFF;
}
.section-title02 h1{
  color: #FFF;
}
.section-title03 h1{
  color: #FFF;
}
.fb-news{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
    margin-bottom: 40px;
}
.flex-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 20px;
}
.flex-item{
  width: 280px;
  display: flex;
  flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 5px;
}
.flex-item p{
    margin: 10px auto;
  text-align: center;
  width: 240px;
}
.flex-item h2{
      margin: 10px auto;
}
p.item-cap{
  text-align: left;
}

/*hamburger menu*/
.hum-menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #FFF4;
  color: #000;
  text-align: center;
  transform: translateY(-300%);
  transition: all 0.6s;
  width: 100%;
  height: 100%;
}

.hum-menu ul{
  margin: 50px  auto;
      padding: 10px;
      width: 80%;
}
.hum-menu ul li{
  border-radius: 5px;
  border: solid 0.5px #aaa;
  width: 60%;
  background-color: #FFF;
  padding: 10px 20px;
  margin: 10px auto;
}
.hum-menu ul li:hover{
  border-radius: 5px;
  border: solid 0.5px #aaa;
  width: 60%;
  background-color: #EEE;
  padding: 10px 20px;
  margin: 10px auto;
}
.hum-menu.active{
  transform: translateY(0%);
}

.toggleMenu{
    display:contents;
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    right: 13px;
    top: 35px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    background: #FFF2;
    text-align: center;
}

.toggleMenu span {
    display: block;
    position: absolute;    /* .navToggleに対して */
    width: 30px;
    border-bottom: solid 3px #333;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}

.toggleMenu span:nth-child(1) {
    top: 9px;
}

.toggleMenu span:nth-child(2) {
    top: 18px;
}

.toggleMenu span:nth-child(3) {
    top: 27px;
}

/* 最初のspanをマイナス45度に */
.toggleMenu.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.toggleMenu.active span:nth-child(2),
.toggleMenu.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*hamburger menu done*/
.media{
  width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
      background-color: bisque;
}
footer{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
}
footer p{
  text-align: center;
}
table{
  border-collapse: collapse;
  margin-bottom: 40px;
}
tr:nth-child(odd){
  background-color: #FFF;
}
th,td{
  text-align: left;
  padding: 5px 20px;
  width: 236px;
}
td{
 width: 80%;
}
