.first-view img{
width: 90%;
margin: 0 auto;
}
.profile {
    display: flex;
     width: 100%;
    overflow: hidden;
    align-items: center;
    padding: 0;
    flex-direction: column;
}
.first-view{
  display: flex;
flex-direction: column;
  height: 400px;
background: url(../img/back-ground.jpg) bottom center no-repeat fixed;
  background-color: black;
  -webkit-background-size: cover;/* Safari,Google Chrome用 */
      -moz-background-size: cover;  /* Firefox用 */
      -o-background-size: cover;  /* Opera用 */
          background-size: cover; 
}
.caption{
  margin:5% auto;
}
section {
  width: 90%;
}
.fellows-item{
  display: flex;
  margin: auto;
  width: 90%;
  overflow: hidden;
}
