.kv :last-child{
  left: 36vw;
  top: 60vh;
}
.member-item img{
  width: 100%;
  align-self: flex-start;

}
.member-caption{
  display: flex;
  flex-direction: column;
      padding-left: 0px;
          width: 100%;
}
